.u-list-unstyled {
    list-style: none;
}

.u-list-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    li + li {
        margin-left: 1rem;
    }
}
